<html>
    <head>
        <title>home</title>
        <link rel="stylesheet" href="../css/home.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Welcome</h1>
            </div>
            <div class="content">
                <div class="Tpx"></div>
                <p>
                    <a href="login"><button id = "btn">Login</button></a>
                </p>
              
                <p>
                    <a href="register"><button id = "btn">Register</button></a>
                </p>
            </div>
        </div>
    </body>
</html>
