<html>
    <head>
        <title>Panel</title>
        <link rel="stylesheet" href="../css/home.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>Panel</h1>
            <p id = "error"><%= error %></p>
            
        </div>
    </body>
</html>