
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="../css/home.css" type="text/css">
    </head>
    <body>
        
        <!--make a registeration form that post to /register-->
        <div class="container">
        <h1>Register</h1>
        <p id = "error"><%= error %></p>
        <form action="/register" method="POST">
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder = "username" autocomplete="off "required>
            </p>
            <p>
                <label for="username">Email address:</label> </label>
                <input type="text" name="email" id="email" placeholder = "Email"required>
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder = "password" required>
            </p>
            <p>
                <input type="submit" value="Register" id = "btn">
                
            </p>
        </form>
        <a href="login"><button id = "btn-scnd">Login instead</button></a>
    </div>
    </body>
</html>